<h1 style="display:inline">Welcome, <%=@user.username%></h1>
<p style="margin-left:15px; display:inline"><a href="/tweets/new">create new tweet</a></p>
<p style="margin-left:15px; display:inline"><a href="/logout">log out</a></p>
 <ul>
	<% @tweets.each do |tweet| %>
		<li>
			<a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a>
		</li>
	<% end %>
</ul>
